Application/CaliberDataAccess/Web References/localhost/DataTransfer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WirteData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CommandType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CommandText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InDataTabDS">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="NumberOfRefCur" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="OutDataTabDs">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="IsKeyFeild" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ConStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CurDBType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExceptionNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ExceptionMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WirteDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CommandType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CommandText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InDataTabDS">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="NumberOfRefCur" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="OutDataTabDs">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="IsKeyFeild" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ConStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CurDBType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExceptionNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ExceptionMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CommandType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CommandText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InDataTabDs">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="NumberOfRefCur" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="OutDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="ConStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CurDBType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExceptionNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ExceptionMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CommandType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CommandText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InDataTabDs">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="NumberOfRefCur" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="OutDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="ConStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CurDBType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExceptionNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ExceptionMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadData2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CommandType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CommandText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InDataTabDS">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="NumberOfRefCur" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="OutParamDataDS">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="ConStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CurDBType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExceptionNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ExceptionMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadData2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CommandType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CommandText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InDataTabDS">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="NumberOfRefCur" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="OutParamDataDS">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="ConStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CurDBType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExceptionNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ExceptionMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadListData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CommandType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CommandText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InDataTabDS">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="NumberOfRefCur" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="OutDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="PageNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ConStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CurDBType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExceptionNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ExceptionMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadListDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CommandType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CommandText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InDataTabDS">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="NumberOfRefCur" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="OutDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="PageNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ConStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CurDBType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExceptionNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ExceptionMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="WirteDataSoapIn">
    <wsdl:part name="parameters" element="tns:WirteData" />
  </wsdl:message>
  <wsdl:message name="WirteDataSoapOut">
    <wsdl:part name="parameters" element="tns:WirteDataResponse" />
  </wsdl:message>
  <wsdl:message name="ReadDataSoapIn">
    <wsdl:part name="parameters" element="tns:ReadData" />
  </wsdl:message>
  <wsdl:message name="ReadDataSoapOut">
    <wsdl:part name="parameters" element="tns:ReadDataResponse" />
  </wsdl:message>
  <wsdl:message name="ReadData2SoapIn">
    <wsdl:part name="parameters" element="tns:ReadData2" />
  </wsdl:message>
  <wsdl:message name="ReadData2SoapOut">
    <wsdl:part name="parameters" element="tns:ReadData2Response" />
  </wsdl:message>
  <wsdl:message name="ReadListDataSoapIn">
    <wsdl:part name="parameters" element="tns:ReadListData" />
  </wsdl:message>
  <wsdl:message name="ReadListDataSoapOut">
    <wsdl:part name="parameters" element="tns:ReadListDataResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WirteData">
      <wsdl:input message="tns:WirteDataSoapIn" />
      <wsdl:output message="tns:WirteDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadData">
      <wsdl:input message="tns:ReadDataSoapIn" />
      <wsdl:output message="tns:ReadDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadData2">
      <wsdl:input message="tns:ReadData2SoapIn" />
      <wsdl:output message="tns:ReadData2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadListData">
      <wsdl:input message="tns:ReadListDataSoapIn" />
      <wsdl:output message="tns:ReadListDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WirteData">
      <soap:operation soapAction="http://tempuri.org/WirteData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadData">
      <soap:operation soapAction="http://tempuri.org/ReadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadData2">
      <soap:operation soapAction="http://tempuri.org/ReadData2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadListData">
      <soap:operation soapAction="http://tempuri.org/ReadListData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WirteData">
      <soap12:operation soapAction="http://tempuri.org/WirteData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadData">
      <soap12:operation soapAction="http://tempuri.org/ReadData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadData2">
      <soap12:operation soapAction="http://tempuri.org/ReadData2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadListData">
      <soap12:operation soapAction="http://tempuri.org/ReadListData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:14081/DataTransfer.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:14081/DataTransfer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>